<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Card</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../style/style.css">
</head>

<body>

  <main id="app">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow p-md-3">
      <div class="container">
        <a class="navbar-brand" href="./home.html">M&M</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mx-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="./home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="./accounts.html">Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="./cards.html">Cards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../web/loans.html">Loans</a>
            </li>
            <li class="nav-item">
              <button type="button" @click="showAlert" class="bi bi-box-arrow-right logout">
              </button>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="./index.html">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Cuenta -->

    <div class="d-flex accountInfo justify-content-evenly">
      <div class="container">
        <div class="col-md-4 col-xl-3 accountCardContainer">
            <div class="cardAccount bg-c-blue order-card" v-if="cardType == 'CREDIT'">
              <div class="card-block">
                <h6 class="m-b-20">Card Limit</h6>
                <h2 class="text-right">${{cardLimit}}</h2>    
            </div>
          </div>
          <div class="cardAccount bg-c-blue order-card" v-if="cardType == 'DEBIT'">
            <div class="card-block">
              <h6 class="m-b-20">Card Holder</h6>
              <h2 class="text-right">{{card.cardHolder}}</h2>    
          </div>
          </div>
        </div>

        <div class="tabBar d-flex justify-content-around">
          <a href="../web/transCard.html" class="ms-2">
            <i class="bi bi-file-earmark-ruled"></i>
            <b>Pay services</b>
          </a>
          <a href="../web/transCard.html">
            <i class="bi bi-credit-card"></i>
            <b>Transfer</b>
          </a>
          <a href="#" @click="showCardInformation">
            <i class="bi bi-credit-card-2-front"></i>
            <b>Card Information</b>
          </a>
          <a href="#" @click="exportPDF">
            <i class="bi bi-arrow-down-circle"></i>
            <b>Download transaction history</b>
          </a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash3"></i>
            <b>Delet card</b>
          </a>
        </div>

        <div class="mt-5 tableTransaction ">
          <table cellpadding="0" cellspacing="0">
            <thead class="tbl-header">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody class="tbl-content">
              <tr v-for="transaction in transactions">
                <td>{{transaction.date}}</td>
                <td v-if="transaction.type == 'DEBITO'" class="text-danger">{{transaction.type}}</td>
                <td>${{transaction.amount}}</td>
                <td>{{transaction.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Do you want to delet this Card?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
 
            <div class="col-md-12 mt-3 mb-3">
              <h5>If you have any debt in this card, please pay it first</h5>
            </div>

            <div class="container">

              <form>                  
                <div class="group">      
                  <input type="password" required v-model="password" class="inputDelet">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="labelDelet">Confirm Password</label>
                </div>                
              </form>
                
              
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="deletCard">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <div class="footer-basic">
      <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
              class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
            href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#" @click="showAlertFooter">Services</a></li>
          <li class="list-inline-item"><a href="#" @click="showAlertFooter">About</a></li>
          <li class="list-inline-item"><a href="#" @click="showAlertFooter">Terms</a></li>
          <li class="list-inline-item"><a href="#" @click="showAlertFooter">Privacy
              Policy</a></li>
        </ul>
        <p class="copyright">M&M © 2022</p>
      </footer>

    </div>


  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.4/jspdf.plugin.autotable.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="../js/card.js"></script>
</body>

</html>