<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Clients</title>
</head>

<body>
    <main id="app" class="d-flex flex-wrap justify-content-between">
        <div class="d-flex flex-column w-90 p-5">

            <h1>Client Manager</h1>

            <form class="w-100 col-12">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" v-model="client.nombre">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" aria-describedby="emailHelp"
                        v-model="client.apellido">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        v-model="client.email">
                </div>
                <button type="button" class="btn btn-primary" @click="cargarTabla()">Submit</button>
            </form>


            <table class="w-100 table col-12">
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="p-1">Name</th>
                        <th scope="col" class="p-1">Last Name</th>
                        <th scope="col" class="p-1">Email</th>
                    </tr>
                </thead>
                <tbody >
                    <tr v-for="(cliente, index) in clients" class="text-center">
                        <td class="p-1">{{cliente.nombre}}</td>
                        <td class="p-1">{{cliente.apellido}}</td>
                        <td class="p-1">{{cliente.email}}</td>
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#' + cliente.apellido + index">
                            Edit
                          </button>
                        </td>
                        <td><button type="button" class="btn btn-danger" @click="borrarCliente(cliente)">Delete</button></td>
                        <td><div class="modal fade" :id="cliente.apellido + index" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Edit Client</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="w-100 col-12">
                                        <div class="mb-3">
                                            <label for="nameEdit" class="form-label">Name</label>
                                            <input type="text" class="form-control" id="nameEdit" aria-describedby="emailHelp" v-model="clientEdited.nombre">
                                        </div>
                                        <div class="mb-3">
                                            <label for="lastNameEdit" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" id="lastNameEdit" aria-describedby="emailHelp"
                                                v-model="clientEdited.apellido">
                                        </div>
                                        <div class="mb-3">
                                            <label for="emailEdit" class="form-label">Email address</label>
                                            <input type="email" class="form-control" id="emailEdit" aria-describedby="emailHelp"
                                                v-model="clientEdited.email">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary" @click="editarCliente(cliente)">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="w-20 h-5 p-5">
            <pre class="json">{{completeJson}}</pre>
        </div>


    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="../main.js"></script>
</body>

</html>