@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.bg{
    width: 100%;
    height:auto;
    background-image:url(http://i.imgur.com/w16HASj.png);
    background-size: 100% 100%;
    background-position: top center;
  }

.CardForm {
    margin-top: 8rem;
    margin-bottom: 6rem;
    background-color: #00000040;
    padding: 2rem;
    border-radius: 10px;
    max-width: 900px;
}

.card {
    background: #16181a;
    border-radius: 14px;
    max-width: 350px;
    display: block;
    margin: auto;
    padding: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 10px 40px black;
    z-index: 99;
}

.cardTitanium {
    background: gray;
    border-radius: 14px;
    max-width: 350px;
    display: block;
    margin: auto;
    padding: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 10px 40px black;
    z-index: 99;
}

.cardGold {
    background: rgb(199, 169, 0);
    border-radius: 14px;
    max-width: 350px;
    display: block;
    margin: auto;
    padding: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 10px 40px black;
    z-index: 99;
}

.logo-card {
    max-width: 50px;
    margin-bottom: 15px;
    margin-top: -19px;
}

h4{
    color: white;
}

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 2rem;
}

.form-content .form-items {
    display: inline-block;
    width: 100%;
    min-width: 540px;
    text-align: left;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email] {
    text-align: left;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 300;
    color: #000000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.form-check{
    margin-top: 1rem;
}


.btn-primary{
    background-color: #3d84c3;
    outline: none;
    border: 0px;
    box-shadow: none;
    margin-left: 1rem;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #1968ad;
}

.radio {
	background: #dddde0;
	padding: 4px;
	border-radius: 3px;
	position: relative;
    margin-top: 1rem;
}

.radio input {
	width: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	background: #45485700;
	color: #000000bd;
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 100ms linear;
}

.radio input:checked {
	background-image: linear-gradient(180deg, #2f3b5e7c, #0082fc);
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

@media(max-width:600px ){
    .form-content .form-items{
        min-width: 200px;
    }
}